.wrapper {
  border: 1px solid var(--gray-color);
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 3px;

  background-color: var(--gray-color);
  width: 36px;
  height: 20px;
  border-radius: 10px;
}
.wrapper[data-mode="light"]::before {
  content: '';
  position: absolute;
  right: 7px;

  background-color: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.wrapper[data-mode="light"]::after {
  content: '';
  position: absolute;
  right: 13px;
  top: 10px;
  background-color: white;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.wrapper[data-mode="dark"]::before {
  content: '★';
  position: absolute;
  left: 9px;
  bottom: 2px;
  color: white;
  transform: scale(.2);
  z-index: 100;
}

.wrapper[data-mode="dark"]::after {
  content: '★';
  position: absolute;
  left: 1px;
  bottom: -4px;
  color: white;
  transform: scale(.25);
  z-index: 100;
}

.ball {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.moon {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.moon::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 4px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--background-color);
}