.wrapper {
  cursor: pointer;
  border: none;
  padding: 20px;
  border-radius: 5px;
  max-height: 62px;
  width: max-content;
  color: white;

  font-size: 20px;
}

.wrapper[data-size="small"] {
  font-size: 17px;
  padding: 10px;
}

