.wrapper {
  display: flex;
  align-items: center;
  gap: 100px;

}

.wrapper div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  flex: 1;
  height: inherit;
}

.wrapper div:last-of-type {
  height: 500px;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, var(--dark-gray) 0%, var(--light-gray) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
}


.image {
  width: 100%;
  object-fit: cover;
}