.wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {

}

.navbar {
  display: flex;
  gap: 20px;
}

.menuItems {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuItem {
  display: inline;
}

.btn {
  display: inline;
}

