.wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon {
  opacity: .6;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}