.wrapper {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: relative;
}

.image {
  object-fit: cover;
}

.form {
  flex: 1;
}

.postDelete {
  cursor: pointer;
  color: var(--accent-color);
}

