.wrapper {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.imgWrapper {
  width: 200px;
  height: 100px;
  position: relative;
}

.image {
  object-fit: cover;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postDelete {
  cursor: pointer;
  color: var(--accent-color);
}

